<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Basics</title>
</head>

<body>
    <h1>Learning EJS <%= console.log("Hello World") %>
    </h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime cumque fugit sint, nisi ratione, quibusdam quia
        quas voluptate, consequatur ex dolorum? Temporibus molestias porro esse qui explicabo doloremque blanditiis
        quos?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem veritatis perferendis minima aliquid placeat
        facere, veniam ut natus distinctio impedit laboriosam harum maiores molestiae quidem at totam commodi
        reprehenderit aliquam!</p>
</body>

</html>