<%- include('partials/head') %>

<body>
  <%- include('partials/navbar') %>

  <% const number = Math.floor(Math.random() * 10) + 1; %>

  <h1>Your random number is: <%= number %></h1>
  <% if(number % 2 === 0){ %>
  <h2>That is an even number!</h2>
  <% } else { %>
  <h2>That is an odd number!</h2>
  <% } %>
  <p>Here's an alternate way of doing it:</p>
  <h3>That number is: <%= number%2===0 ? 'EVEN' : 'ODD' %></h3>
</body>

</html>